<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cockpit权限系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--<link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/plugins/layui/css/layui.css">-->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/plugins/layui/2.2.6/layui.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/module/style.css">

    <style type="text/css">
        /*html{height:100%}*/
        /*body{height:100%;margin:0px;padding:0px}*/
        #container{height:100%; width: 100%;}
    </style>
</head>

<body>
    <div id="container">
        <div class="w6 h12" style="background: #FF6EB4;">
            <div class="w6 h6" style="background: #F0FFF0;"></div><div class="w6 h6" style="background: #EEEE00;"></div>
            <div class="w12 h6" style="background: #EEAD0E;"></div>
        </div>
        <div class="w6 h12" style="background: #FAF0E6;">
            <div class="w12 h6" style="background: #EE8262;"></div>
            <div class="w12 h6" style="background: #EE7AE9;"></div>
        </div>
    </div>


    <script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <!--<script type="text/javascript" src="${request.contextPath}/statics/plugins/layui/layui.js"></script>-->
    <script type="text/javascript" src="${request.contextPath}/statics/plugins/layui/2.2.6/layui.js"></script>
    <script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>